@tailwind base;
@tailwind components;
@tailwind utilities;

/* Load Effra Font */
@font-face {
  font-family: "Effra";
  src: url("/fonts/effra/Effra.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Effra";
  src: url("/fonts/effra/Effra.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Effra', sans-serif;
}
